{% extends "base.html" %}

{% block content %}
    <h1>Все предложения</h1>
    {% if current_user.is_authenticated %}
        <a href="offers" class="btn btn-secondary">Добавить предложение</a>
    {% endif %}
    {% for item in offers %}
        {% if item.is_taken != True %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.content }}
            </div>
            <div>
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>
            {% if current_user.is_authenticated and current_user == item.user%}
                <div>
                    <a href="/offers/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/offers_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% elif current_user.is_authenticated and current_user != item.user%}
                <div>
                    <a href="/make_order/{{ item.id }}" class="btn btn-warning">Заказать</a>
                </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}