{% extends "base.html" %}

{% block content %}
    <h1>Search</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
    {% if users != None %}
        {% for user in users%}
            <div class="col-md6 border rounded">
                <div>User ID: {{user.id}}</div>
                <div>{{user.name}}</div>
                <div>{{user.email}}</div>
                <div>Address: {{user.country}},{{user.city}},{{user.district}},{{user.building}}</div>
                <div>
                    <a href="/display_offers/{{ user.id }}" class="btn btn-success">Look at offers</a>
                    {% if user.id != current_user.id%}
                        <a href="/messages_history/{{ user.id }}" class="btn btn-primary">Chat</a>
                    {%endif%}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}